* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
    font-family: 'Jost', sans-serif;
    /* background: #F2F4F8 !important; */
    scroll-behavior: smooth !important;
  font-family: "Poiret One",cur;
   
}

#myBtn {
  background: #0A0A0A;
    height: 40px;
    width: 40px;
    right: 31px;
    bottom: 18px;

    position: fixed;
    z-index: 100;

    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
}


#myBtn .block-back-top {
  position: relative;
  width: 100%;
  height: 100%;
}

.block-back-top .arrow {
  padding: 8px;
    
    
  
    opacity: 0;
    position: absolute;

}

#myBtn .arrow-up-one {
  animation: arrow-back-top 3s ease-in-out infinite;
}

#myBtn .arrow-up-two {
  animation: arrow-back-top 3s 1s ease-in-out infinite;
}

@keyframes arrow-back-top {
  0% {
    top: 5px;
    opacity: 0;
  }

  70% {
      opacity: 1;
  }

  100% {
      top: -10px;
      opacity: 0;
  }
}

#myBtn:hover {
  background-color: #555;
}

/* ----------- header ---------  */
header {
    position: relative;

    height: 100vh;
    overflow: hidden;
}

/* navbar  */

nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;

    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.499) !important;
    color: #fff !important;

    padding: 0 70px !important;

    border-bottom: 1px solid rgba(255,255,255,.3);

    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 100;
    
}

.logo {
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.navbar-brand {
   
    width: 70px;
    height: 100%;
  margin: 0 !important;
  padding: 0;
}

.block-nav-content {
    height: 100%;
    width: 60%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbarNav {
  width: 100%;

}

.navbar-nav {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 0 20px;
    height: 100%;

  
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none; 
    color: #fff !important;
    font-size: 1.1rem !important;

    position: relative !important;
    font-size: 1.1rem;


}

.navbar-nav .nav-item .nav-link::before {
    position: absolute !important;
    content: "";
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    
    background-color: #A1C9F1;
    transition: all ease-in-out 0.3s;
}

.nav-item:hover .nav-link::before {
    width: 100%;

}

.block-nav-socical {
    display: flex;
    justify-content: center;
    width: 20%;

}

.socical-nav-clone {
    padding: 0 15px;
}

.socical-nav-clone a {
  color: #fff;
  font-size: 1.1rem;

}

.socical-nav-clone a:hover {
  color: #5f8dbb;
}

.socical-nav-clone i {
    font-size: 1.1rem;
}

/* ----- carousel --------  */

.carousel {
    height: 100%;
    
    overflow: hidden;
}

.carousel-indicators {
    bottom: 2% !important;
}

.carousel-inner {
    height: 100% !important;
    

}

.carousel-item {
    position: relative;

    height: 100% !important;

    transition: all linear ;
}

.carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.31) !important;

    
}

.carousel-item img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}


.carousel-item .carousel-caption {
    bottom: 80px !important;
}



.carousel-caption span {
    /* color: #fff; */
    font-size: 1.2rem;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}

.carousel-caption h2 {
  font-family: "Poiret One",cur;

}

.carousel-caption h1 {
    /* text-transform: uppercase; */
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 50px;
    color: #fff;
    line-height: 1.1;
    font-family: "Poiret One",cur;
}

.carousel-caption .read-content {
  background-color: #5f8dbb;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Poiret One",cur;

 
}

.carousel-control-prev  {
    left: -60px !important;

}

.carousel-control-next {
    right: -60px !important;

}


.carousel-control-prev-icon {
    width: 25px !important;
    height: 25px !important;

    /* left: -60px !important; */
}

.carousel-control-next-icon {
    width: 25px !important;
    height: 25px !important;

    /* right: -60px !important; */

}

.carousel .modal-title{
  font-weight: bold;
}

.carousel .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
}

.carousel .modal-body img {
  object-fit: cover;
  width: 400px;
  
}

.carousel .modal-body .img-voucher-dalat {
  width: 250px !important;
}

.carousel .modal-body .group-content-carousel {
  width: 80%;
}

.group-content-carousel h6 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
}

.group-content-carousel h5 {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(225, 61, 61);
}

.group-content-carousel p {
  font-size: 1rem;
  font-weight: bold;
}

.group-content-carousel ul {
  padding-left: 20px;
}

.contact-content-carousel {
  margin-top: 20px;
}

.contact-content-carousel h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

/* For tablet header */
@media (min-width: 491px) and (max-width: 740px) {
  @keyframes arrow-back-top {
    0% {
      top: 7px;
      opacity: 0;
    }
  
    70% {
        opacity: 1;
    }
  
    100% {

        top: -12px;
        opacity: 0;
    }
  }

    /* nav tablet */
    nav {
      height: 65px;

    }

    .block-nav-content {
      display: none;
    }

    /* carousel tablet  */
    .carousel-indicators {
      display: none;
    }
    
    .carousel-caption h2 {
      font-size: 1.2rem;
    }

    .carousel-caption h1 {
      font-size: 3.5rem;
    }

    .carousel-caption .read-content {
      padding: 7px 10px;
      font-size: 1rem;
    }
    
    .carousel-control-prev {
      left: 0 !important;
    }

    .carousel-control-next {
      right: 0 !important;
    }

    .carousel .modal-dialog {
      max-width: 90vw !important ;
    }

    .carousel .modal-body img {
      width: 100%;
      height: 300px;
    }

    .carousel .modal-body .group-content-carousel {
      width: 90%;
    }
}

/* for mobile header  */

@media (max-width: 490px) {
  #myBtn {
    width: 30px;
    height: 30px;
  }

  @keyframes arrow-back-top {
    0% {
      left: -5px;
      top: 7px;
      opacity: 0;
    }
  
    70% {
        opacity: 1;
    }
  
    100% {
      left: -5px;

        top: -12px;
        opacity: 0;
    }
  }
  
  /* nav tablet */
   nav {
    height: 65px;
    padding: 0 10px !important;

    justify-content: space-between;
  }

  .logo {
    /* width: 30%; */
  }

  .block-nav-content {
    display: none;
  }

  .block-nav-socical {
    width: 70%;

    justify-content: right;
  }

  /* carousel tablet  */
  .carousel-indicators {
    display: none;
  }
  
  .carousel-caption h2 {
    font-size: 1.1rem;
  }

  .carousel-caption h1 {
    font-size: 3rem;
  }

  .carousel-caption .read-content {
    padding: 7px 10px;
    font-size: 0.8rem;
  }
  
  .carousel-control-prev {
    left: 0 !important;
  }

  .carousel-control-next {
    right: 0 !important;
  }

  .carousel .modal-dialog {
    max-width: 90vw !important ;

    /* margin: 0 !important; */

    margin-left: 25px !important;
    
  }

  .carousel .modal-body img {
    width: 100%;
    height: 300px;
  }

  .carousel .modal-body .group-content-carousel {
    width: 90%;
  }

  .carousel .modal-title {
    font-size: 1rem;
  }

  .group-content-carousel h6 {
    font-size: 1rem;
  }

  .group-content-carousel h5 {
    font-size: 0.9rem;
  }

  .group-content-carousel p {
    font-size: 0.9rem;
  }

  .group-content-carousel ul {
    font-size: 0.9rem;
  }

  .group-content-carousel span {
    font-size: 0.9rem
  };

  .contact-content-carousel h4 {
    font-size: 1rem;
  }
}
 

/* -------- section ---------  */
section {
  overflow: hidden;
}
/* --- review ---  */
.review {
    height: 670px;
}

.block-clone-review {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clone-review {
    width: 75%;
    height: 80%;

    

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review-title {
    width: 30%;

}

.review-title h2 {
    /* font-family: "Poiret One",cursive; */
    font-size: 3.5rem;
    display: block;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 12px;
}

.review-title p {
    color: #656565;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.review-img {
    overflow: hidden;
    width: 30%;
    height: 100%;
}

.review-img img {   
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.review-content {
    width: 30%;
    

}

.review-content h2 {
    font-size: 7rem;
    font-weight: 300;
}

.review-content p {
    color: #0A0A0A;
    font-size: 1.2rem;
    font-weight: 400;
}

.review-content h5 {
    font-size: 1.6rem;
    color: #0A0A0A;
    margin-bottom: 50px;
    font-weight: 400;
    padding-right: 40px;
}

.review-content a {
    color: #0A0A0A !important;
    border: 1px solid #0A0A0A;
    display: inline-block;
    padding: 14px 37px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border-radius: 0px;
    text-decoration: none;
    cursor: pointer;
}

.review-content a:hover {
    background-color: #0A0A0A;
    color: #fff !important;
}

.block-review .carousel-control-prev {
    left: 24% !important;
    bottom: -65% !important;

    width: 50px;
}

.block-review .carousel-control-next {
    right: 70% !important;
    bottom: -65% !important;

    width: 50px;

}

.block-review .item-left{
    color: black !important;
    border: 1px solid;
    padding: 10px 15px;
    
}

.block-review .item-right{
    color: black !important;
    border: 1px solid;
    padding: 10px 15px;
}

/* ---- product -----  */
.product {
  
}

.product-block {

}

.grid-product {
  display: grid;
  grid-template-columns: repeat(3,1fr);

  width: 100%;
}

.grid-clone {
  width: 100%;
  height: 580px;

  position: relative;

  overflow: hidden;
}

.grid-clone img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-clone .grid-clone-title {
  position: absolute;
  bottom: -100px;
  left: -50px;

  transition: all linear 0.3s;
}

.grid-clone:hover .grid-clone-title {
    bottom: 20px;
    left: 20px;

}

.grid-clone .grid-clone-title h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0A0A0A;
}

.grid-clone .grid-clone-title h6 {
    font-size: 1.3rem;
    color: #0A0A0A;

}

.grid-clone .grid-clone-item {
  position: absolute;
  top: -100px;
right: -50px;
  
  font-size: 1.3rem;

  background-color: #0a0a0abe;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

  transition: all linear 0.3s;
    
}

.grid-clone:hover .grid-clone-item {
    top: 20px;
    right: 20px;
}

.grid-clone .grid-clone-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}


/* modal  */


.grid-clone .btn.show-product {
    opacity: 0;
    position: absolute !important;
    bottom: 50% !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0a0a0abe;
    color: rgba(255, 255, 255, 0.89);
  transition: all linear 0.3s;

}
  
.grid-clone:hover .btn.show-product {
    opacity: 1;
}

.modal-dialog {
    max-width: 60vw !important;
    height: 85vh !important;
}

.modal-content {
    height: 100%;
}

/* ----- blogs -----  */
.blogs {
    padding: 100px 0 50px 0;
}

.blogs .text-center {
    font-family: "Poiret One",cursive;
    /* font-weight: 100; */
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 2.3rem;
}

.blogs .container-e {
    margin: 0 250px;
}

.slide-content {
    margin: 8px;
    width: 416px;
    height: 300px;
    background-color: lightgray;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

.block-content-blogs {
    height: 100%;

    position: relative;
}

.block-content-blogs h2 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 5px;

    font-family: "Poiret One",cursive;
    color: #fff;
    background-color: #0a0a0aad;
    text-align: center;
    font-size: 1.3rem;
    transition: all linear 0.3s;
}

.block-content-blogs:hover h2 {
    opacity: 0;
}

.blogs img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
.blogs  .slid-er {
    height: 100%; /* slide-content height + 2*margin */
    margin: auto;
    overflow: hidden;
    width: 100%;
  }
  .slid-er .slides {
    display: flex;
  }
  .slid-er .slide {
    /* width: 258px; slide-content width + margin */
  }
  .blogs  .button-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: opacity 0.25s;
  }
  .blogs .button-container:hover {
    opacity: 1;
  }
  .blogs  .button-container:hover .show-product-blogs {
    transform: translate(-50%, -50%);
  }
  .blogs .show-product-blogs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.25s;
    padding: 8px 12px;
    border-radius: 12px;
    color: white;
    outline: 2px solid transparent;
  }
  /* .blogs .button:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
    filter: invert(1);
  }
  .blogs .button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 2px gray;
  }
   */

   /* ----- testimonial -------  */

.testimonial {
 
    
    margin-top: 100px;
}

.testimonial-title {
    text-align: center;
}

.testimonial-title h6 {
    font-family: "Poiret One",cursive;
    /* font-weight: 100; */
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 2.3rem;
}

.testimonial-title h2 {
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
}

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 50px 0 100px;


  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 101;
    background-color: #5f8dbb;

    
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    overflow: hidden;
    position: relative;
  }

  .testimonial-thumbs::after , .testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
  }

  .testimonial-thumbs::after{
    background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
    right: 0;
  }

  .testimonial-thumbs::before{
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    left: 0;
  }

  .testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    

    position: relative;

  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
    
    
  
}

.swiper-pagination {
  opacity: 0 !important;
}


  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;

    position: relative !important;

  }

  .testimonial-thumbs .testimonial-pic::before ,  .testimonial-thumbs .testimonial-pic::after {
    content: "";
    background-color: #5f8dbb;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  .testimonial-thumbs .testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
  }


  .testimonial-thumbs .testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 20px;
  }


  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }

  .testimonial-text {
    padding: 50px 30px;
    text-align: center;
    box-shadow: 0 10px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
  }

  .testimonial-comment-item {
    position: absolute;
    top: 4%;
    left: 4%;
    
    color: #A1C9F1;

    font-size: 5rem;

}

  .testimonial-text .testimonial-name {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #000;
    line-height: 26px;
    margin-bottom: 10px;
    font-style: italic;
  }

  .testimonial-text span  {
    display: block;

    font-size: 0.9rem;
    color: #5f8dbb;

    margin-bottom: 20px;
    font-style: italic;
  }

  .testimonial-text p {
    font-size: 1.1rem;
    color: #636363;
    font-style: italic;
    font-weight: 400;
  }
  

  .testimonial-content .testimonial-thumbs .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 48%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    z-index: 100;
   
  }

 
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::before ,
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::after
 {
    opacity: 1;
}


  .testimonial-content .testimonial-thumbs .testimonial-pic .shape-bx::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
    border-left: 1px solid #5f8dbb;
    border-right: 1px solid #5f8dbb;
    

   

    background-image: url(../image/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 35px;
    width: 50px;
    z-index: 100;
  }

  .testimonial-content .testimonial-thumbs .testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
    


    background-color: #5f8dbb;

    height: 35px;
    width: 50px;
    z-index: 100;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;

    bottom: -5px;
  }



  /* ---------- footer ----------  */
  footer {
    overflow: hidden;
  }

  .block-footer {
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    background: #1E1E1E;
    color: #fff;
    
  }

  .block-contact {
    padding: 100px 200px !important;
    display: flex;
    justify-content: space-around;

    

    
  }

  .contact-name {
    width: 30%;
    padding-right: 80px;
  }

  .contact-name p {
    font-size: 1.2rem;
  }

  .contact-name img {
    width: 120px;
    height: 120px;
  }

  .block-contact-socical {
    width: 40%;
    display: flex;
    justify-content: space-between;

    
  }

  .block-contact i {
    font-size: 1.2rem;
  }

  .contact-navigation {
    width: 11%;

  }

  .navigation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }

  .navigation-content a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;

  }

  .navigation-content a:hover {
    color: #5f8dbb;
  }

  .contact-info {
    width: 20%;
  }

  .contact-info ul {
    list-style: none;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
  }

  .contact-email {
    width: 20%;
    
  }

  .form-row {
    display: flex !important;
    flex-direction: column !important;
 
  }

  .input-email {
    width: 250px;
    padding: 10px;
    /* border-radius: 5px; */
    border: none;
    border-color: none;
    background-color: #636363;
  }

  .input-email::placeholder {
    color: #fff;
  }

  .email-submit {
    margin-top: 10px;
    

  }

  .email-submit button {
    width: 250px;
    padding: 10px 0 ;
    background-color: transparent;
    border-color: #fff;
  }

  .copyright {
    color: #C1C1C1;
    padding: 30px 0;
    width: 80%;
    text-align: center;

    position: relative;
  }

  .copyright::after {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.274);
  }
  
  .copyright i {
    color: #fff;
    font-size: 1.1rem;
  }

  .copyright a {
    text-decoration: none;
    color: #fff;

    font-size: 1.1rem;

  }


