* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Jost', sans-serif;
}

header {
    position: relative;

    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;

    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11) !important;
    color: #fff !important;

    padding: 0 70px !important;

    border-bottom: 1px solid rgba(255,255,255,.3);

    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 100;

    
}



.logo {

}

.navbar-brand {
    width: 85px;
    height: 100%;
}

.block-nav-content {
    height: 100%;
    
    display: flex;
    align-items: center;
}

.navbar-nav {
    height: 100%;

}

.nav-item {
    padding: 0 20px;
    height: 100%;

  
}



.navbar-nav .nav-item .nav-link {
    text-decoration: none; 
    color: #fff !important;
    font-size: 1.1rem !important;

    position: relative !important;

}

.dropdown-menu {
    left: 20px;
    top: 115% ;

    background-color: #00000082 !important;
}

.dropdown-menu .dropdown-item {
    color: #fff !important;

}

.dropdown-menu .dropdown-item:hover {
    background-color: #A1C9F1;
}



.navbar-nav .nav-item .nav-link::before {
    position: absolute !important;
    content: "";
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    
    background-color: #A1C9F1;
    transition: all ease-in-out 0.3s;
}

.nav-item:hover .nav-link::before {
    width: 100%;

}

.block-nav-socical {
    display: flex;
}

.socical-nav-clone {
    padding: 0 15px;
}

.socical-nav-clone i {
    font-size: 1.1rem;
}

/* ----- carousel --------  */

.carousel {
    height: 100%;
    
    overflow: hidden;
}

.carousel-indicators {
    bottom: 5% !important;
}

.carousel-inner {
    height: 100% !important;
    

}

.carousel-item {
    position: relative;

    height: 100% !important;

    transition: all linear ;
}

.carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.171) !important;

    
}

.carousel-item img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}


.carousel-item .carousel-caption {
    bottom: 80px !important;
}

.carousel-caption span {
    /* color: #fff; */
    font-size: 1.2rem;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}

.carousel-caption h1 {
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 200;
    margin-bottom: 50px;
    color: #fff;
    line-height: 1.1;
    /* font-family: "Poiret One",cur; */
}

.carousel-control-prev  {
    left: -60px !important;

}

.carousel-control-next {
    right: -60px !important;

}


.carousel-control-prev-icon {
    width: 25px !important;
    height: 25px !important;

    /* left: -60px !important; */
}

.carousel-control-next-icon {
    width: 25px !important;
    height: 25px !important;

    /* right: -60px !important; */

}

/* -------- section ---------  */
/* --- review ---  */
.review {
    height: 670px;
}

.block-clone-review {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clone-review {
    width: 75%;
    height: 80%;

    

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review-title {
    width: 30%;

}

.review-title h2 {
    /* font-family: "Poiret One",cursive; */
    font-size: 3.5rem;
    display: block;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 12px;
}

.review-title p {
    color: #656565;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.review-img {
    overflow: hidden;
    width: 30%;
    height: 100%;
}

.review-img img {   
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.review-content {
    width: 30%;
    

}

.review-content h2 {
    font-size: 7rem;
    font-weight: 300;
}

.review-content p {
    color: #0A0A0A;
    font-size: 1.2rem;
    font-weight: 400;
}

.review-content h5 {
    font-size: 1.6rem;
    color: #0A0A0A;
    margin-bottom: 50px;
    font-weight: 400;
    padding-right: 40px;
}

.review-content a {
    color: #0A0A0A !important;
    border: 1px solid #0A0A0A;
    display: inline-block;
    padding: 14px 37px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border-radius: 0px;
    text-decoration: none;
}

.review-content a:hover {
    background-color: #0A0A0A;
    color: #fff !important;
}

.block-review .carousel-control-prev {
    left: 24% !important;
    bottom: -65% !important;

    width: 50px;
}

.block-review .carousel-control-next {
    right: 70% !important;
    bottom: -65% !important;

    width: 50px;

}

.block-review .item-left{
    color: black !important;
    border: 1px solid;
    padding: 10px 15px;
    
}

.block-review .item-right{
    color: black !important;
    border: 1px solid;
    padding: 10px 15px;
}

/* ---- product -----  */
.product {

}

.product-block {

}

.grid-product {
  display: grid;
  grid-template-columns: repeat(3,1fr);

  width: 100%;
}

.grid-clone {
  width: 100%;
  height: 580px;

  position: relative;

  overflow: hidden;
}

.grid-clone img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-clone .grid-clone-title {
  position: absolute;
  bottom: -100px;
  left: -50px;

  transition: all linear 0.3s;
}

.grid-clone:hover .grid-clone-title {
    bottom: 20px;
    left: 20px;

}

.grid-clone .grid-clone-title h2 {
    font-size: 2.8rem;
    font-weight: 700;
}

.grid-clone .grid-clone-title h6 {
    font-size: 1.3rem;
}

.grid-clone .grid-clone-item {
  position: absolute;
  top: -100px;
right: -50px;
  
  font-size: 1.3rem;

  background-color: #0a0a0abe;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

  transition: all linear 0.3s;
    
}

.grid-clone:hover .grid-clone-item {
    top: 20px;
    right: 20px;
}

.grid-clone .grid-clone-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}


/* modal  */


.grid-clone .btn.show-product {
    opacity: 0;
    position: absolute !important;
    bottom: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0a0a0abe;
    color: rgba(255, 255, 255, 0.89);
  transition: all linear 0.3s;

}
  
.grid-clone:hover .btn.show-product {
    opacity: 1;
}

.modal-dialog {
    max-width: 60vw;
    height: 100vh;
}

.modal-content {
    height: 100%;
}