* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Jost', sans-serif;
}

header {
    position: relative;

    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;

    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11) !important;
    color: #fff !important;

    padding: 0 70px !important;

    border-bottom: 1px solid rgba(255,255,255,.3);

    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 100;

    
}



.logo {

}

.navbar-brand {
    width: 85px;
    height: 100%;
}

.block-nav-content {
    height: 100%;
    
    display: flex;
    align-items: center;
}

.navbar-nav {
    height: 100%;

}

.nav-item {
    padding: 0 20px;
    height: 100%;

}



.navbar-nav .nav-item .nav-link {
    text-decoration: none; 
    color: #fff !important;
    font-size: 1.1rem;

    position: relative !important;

}

.navbar-nav .nav-item .nav-link::after {
    position: absolute !important;
    content: "";
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    
    background-color: #A1C9F1;
    transition: all ease-in-out 0.3s;
}

.nav-item:hover .nav-link::after {
    width: 100%;

}

.block-nav-socical {
    display: flex;
}

.socical-nav-clone {
    padding: 0 15px;
}

.socical-nav-clone i {
    font-size: 1.1rem;
}

/* ----- carousel --------  */

.carousel {
    height: 100%;
    
    overflow: hidden;
}

.carousel-indicators {
    bottom: 5% !important;
}

.carousel-inner {
    height: 100% !important;
    

}

.carousel-item {
    position: relative;

    height: 100% !important;

    transition: all linear ;
}

.carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.171) !important;

    
}

.carousel-item img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}


.carousel-item .carousel-caption {
    bottom: 80px !important;
}

.carousel-caption span {
    /* color: #fff; */
    font-size: 1.2rem;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}

.carousel-caption h1 {
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 200;
    margin-bottom: 50px;
    color: #fff;
    line-height: 1.1;
    /* font-family: "Poiret One",cur; */
}

.carousel-control-prev  {
    left: -60px !important;

}

.carousel-control-next {
    right: -60px !important;

}


.carousel-control-prev-icon {
    width: 25px !important;
    height: 25px !important;

    /* left: -60px !important; */
}

.carousel-control-next-icon {
    width: 25px !important;
    height: 25px !important;

    /* right: -60px !important; */

}